.card {
  height: 1000px;
}
.card-director {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.cards {
  max-width: 400px;
  background-color: rgb(203, 247, 203);

  margin: auto;
  text-align: center;
}
.card-finance {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.title {
  color: black;
  font-size: 18px;
  font-family: AdventPro-Bold;
}


a {
  text-decoration: none;
  font-size: 22px;
  color: green;
}

button:hover,
a:hover {
  opacity: 0.7;
}
.cards img {
  height: 600px;
}
.cards h1 {
    font-size: 20px;
    font-family:AdventPro-Regular;
    margin-top: 10px;
}
.cards .title {
    margin-top: 10px;
    font-size: 25px;
    font-family:AdventPro-SemiBold;

}
.cards p {
    font-family:AdventPro-Regular;
}