.card {
    height: 1000px;
}
.card-director {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.cards {
    width: 350px;
    height: 450px;
    background-color: green;
}
.card-finance {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}