@font-face {
    font-family:AbhayaLibre-Bold;
    src: url(../fonts/abhaya-libre/AbhayaLibre-Bold.ttf);
}
@font-face {
    font-family:AbhayaLibre-ExtraBold;
    src: url(../fonts/abhaya-libre/AbhayaLibre-ExtraBold.ttf);
}
@font-face {
    font-family:AbhayaLibre-Regular;
    src: url(../fonts/abhaya-libre/AbhayaLibre-Regular.ttf);
}
@font-face {
    font-family:AbhayaLibre-Medium;
    src: url(../fonts/abhaya-libre/AbhayaLibre-Medium.ttf);
}