.intro {
    height: 520px;
    background-color: rgb(203, 247, 203);
    padding: 40px;
}
.intro-banner {
    height: 500px;
    width: 1100px;
    margin: 0 auto;
    background-color: rgb(236, 255, 231);
    border-radius: 50px 0px 50px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.intro-text {
    padding: 50px;
    margin-left: 40px;
}
.intro-text h2 {
    font-size: 30px;
    font-family:AdventPro-Bold;
    color: rgb(14, 90, 14);
}
.intro-text p {
    width: 900px;
    font-size: 15px;
    font-family:AdventPro-Regular;
    color: rgb(14, 90, 14);
    margin-top: 10px;
}