.intro {
    height: 600px;
}
.intro-banner {
    height: 500px;
    width: 1100px;
    margin: 0 auto;
    background-color: rgb(226, 255, 219);
    margin-top: 50px;
    border-radius: 50px 0px 50px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}