.mainTitle {
    /* padding: 170px; */
    height: 380px;
    background-image: url('/assets/images/meeting.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:  0px -570px ;
}
.mainTitle h1 {
    text-align: center;
    font-family:AdventPro-Bold;
    color: green;
    font-size: 40px;
    line-height: 200px;
}