.MainNav {
    display: flex;
    padding: 20px;
}
.MainNav-logo {
    flex: 2;
    display: flex;
    justify-content: center;
}
.MainNav-logo img {
    height: 100px;
}
.MainNav-list {
    flex: 2;
    margin-top: 40px;
}
.MainNav-list ul {
    display: flex;
    justify-content: center;
}
.MainNav-list li {
    margin-left: 20px;
}
.MainNav-list a {
    text-decoration: none;
    font-size: 18px;
    color: rgb(14, 90, 14);
    font-family: AdventPro-SemiBold;
}

.MainNav-list li:hover {
    border-bottom: none;
    color:white;
  }
  .MainNav-list li a {
    color: rgb(14, 90, 14);
    padding: 8px;
    text-decoration: none;
    border-bottom: transparent solid 1px;
    transition: ease-in 0.3s;
  }
  .MainNav-list li a:hover {
    border-bottom: green solid 1px;
    color: orangered;
  }