.TopNav {
    display: flex;
    color: rgb(14, 90, 14);
    padding: 10px;
    box-shadow: 0 4px 1px -4px gray;
}
.TopNav-contact {
    flex: 2;
}
.TopNav-social {
    flex: 2;
}
.TopNav-contact ul {
    display: flex;
    justify-content: center;
}
.TopNav-contact li {
    margin-left: 20px;
    font-family: AdventPro-SemiBold;
}
.TopNav-social ul {
    display: flex;
    justify-content: center;
}
.TopNav-social li {
    margin-left: 20px;
}
.TopNav-social i:hover {
    color: orangered;
}