.TopNav {
    display: flex;
    color: rgb(14, 90, 14);
}
.TopNav-contact {
    flex: 2;
}
.TopNav-social {
    flex: 2;
}
.TopNav-contact ul {
    display: flex;
    justify-content: center;
}
.TopNav-contact li {
    margin-top: 10px;
    margin-left: 20px;
    font-family: AdventPro-SemiBold;
}
.TopNav-social ul {
    display: flex;
    justify-content: center;
}
.TopNav-social li {
    margin-top: 10px;
    margin-left: 20px;
}